@font-face {
    font-family:Franklin;
    src: url(fonts/LibreFranklin-Regular.ttf);
}
@font-face {
    font-family: Postoni;
    src: url(fonts/Postoni.ttf)
}
*{
    margin:0;
    padding:0;
}
body{
    line-height: 1.6;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 1.25rem;
    color:#2a2a2a;
}
h1,h2,h3,h4{
    margin:0;
    font-family: Franklin,arial,sans-serif;
 }
h1{   
    width: 100%;
    line-height: 30px; 
    margin-top:0;
    font-size: 2rem;
    font-weight: bold;
}
h2{
    line-height:25px;
    font-size:1.2rem;
    font-weight:700;
}
p{
    margin-top:1rem;
    line-height: 25px;
    font-weight: 300;
    font-family: Franklin,arial,sans-serif;
    color:#666;
}
main{
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 7rem;
    margin-right: 7rem;
}
.topnews{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}
.mainnews{
    min-width: 200px;
    max-width:800px;
    max-height:900px;
}
.aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
    max-width:400px;
    max-height: 900px;
    margin-left: 1.5rem;
}
.imgcontainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
main img{
    margin-top: 1rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid lightgray;
}
.othernews{
    display:flex;
    justify-content: space-evenly;
    margin-top:2rem;
    flex-wrap: wrap;
}
.othernews .news{
    min-width:200px;
    max-width:220px;
    max-height: 100px;
}
.othernews .news h2{
    font-size: 16px;
}
main h1 a{
    text-decoration: none;
    color:black;
    width: 100%;
    line-height: 30px; 
    margin-top:0;
    font-size: 2rem;
    font-weight: bold;
}
main h2 a{
    text-decoration: none;
    color:black;
    line-height:25px;
    font-size:1.2rem;
    font-weight:700;
}