footer{
    background-color: black;
    height: 100%; 
    width: 100%;
}
footer p{
    color: white;
    font-weight: 900;
    margin-left: 0.5rem; 
    padding: 1rem;
}
footer a{
    text-decoration: none; 
    color: white;
    font-family: Franklin,arial,sans-serif;
    font-weight: bold;
}
footer ul .terms{
    margin:0;
    padding: 0; 
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    min-width: 480px; 
    font-size:14px;
}
footer li{
    flex:auto;
}
.copyright{
    font-family: monospace;
    font-weight: 700;
    font-size: small;
}