@font-face {
    font-family: Franklin;
    src: url(fonts/);
}
@font-face {
    font-family: Postoni;
    src: url(fonts/Postoni.ttf);
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .innerModal {
    background: #ffffff;
    padding: 2rem;
    width: 100%;
    max-width: 800px;
    border-radius: 4px;
  }

  .headerModal {
    display: flex;
    align-items: center;
  }

  .title {
    font-size: 20px;
  }
  
  .close {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
  }

  .content {
    line-height: 1.5;
  }
  
  .lowerModal {
    text-align: right;
  }
  
  .modalButton {
    display: inline-block;
    padding: 6px 12px;
    background:lightgray;
    border: none;
    border-radius: .5rem;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
  }
  
  